# Wiederholung Kap 1. Aufgabe 3

In [2]:
import pandas as pd
%xmode minimal

Exception reporting mode: Minimal

## Aufgabe 3.1

In [105]:
wetter = {
    "Stunde": [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 1, 2, 3, 4, 5],
    "Temperatur": [-0.3, 0.6, 1.3, 1.9, 2.3, 2.4, 3.1, 3.4, 3.5, 3.4, 3.5, 3.6, 4.0, 4.6, 4.8, 4.7, 3.3, 2.8, -0.6, -0.8, -0.7, -0.4, -0.3],
    "Taupunkt": [-2, -1, -0, 0, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 1, -0, -2, -2, -2, -2, -2],
    "Luftdruck": [1001, 1010, 1010, 1010, 1009, 1008, 1007, 1006, 1004, 1003, 1001, 1000, 999, 997, 997, 996, 995, 994, 1012, 1012, 1012, 1011, 1011],
    "Regen": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 2, 3, 4, 4, 5, 0, 0, 0, 0, 0],
    "Sonne": [0, 0, 0, 17, 28, 27, 38, 33, 13, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
    "Wind_max": [12, 16, 22, 22, 33, 35, 35, 60, 44, 48, 56, 53, 50, 52, 54, 53, 95, 68, 13, 11, 9, 10, 12],
    "Windrichtung":[250, 263, 270, 272, 269, 264, 266, 264, 256, 252, 251, 252, 257,258, 266, 274, 282, 287, 261, 248, 244, 270, 277]
}
wetter = pd.DataFrame(data=wetter)
wetter.head(3)

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung
0,6,-0.3,-2,1001,0,0,12,250
1,7,0.6,-1,1010,0,0,16,263
2,8,1.3,0,1010,0,0,22,270

In [4]:
wetter["Taupunkt"] = wetter["Taupunkt"].astype("float64")

a) <br>
Wichtige Funktionen: `rename(columns={"Wind_max":"Windspitze"}, inplace=True)`

In [5]:
wetter.rename(columns={"Wind_max":"Windspitze"}, inplace=True)

In [6]:
wetter.head(3)

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Windspitze,Windrichtung
0,6,-0.3,-2.0,1001,0,0,12,250
1,7,0.6,-1.0,1010,0,0,16,263
2,8,1.3,0.0,1010,0,0,22,270

b) <br>

In [7]:
wetter_abc = wetter.copy()

In [8]:
wetter_abc.rename(columns={'Stunde':'a', 'Temperatur':'b', 'Taupunkt':'c', 'Luftdruck':'d', 'Regen':'e', 'Sonne':'f', 'Windspitze':'g', 'Windrichtung':'h'}, inplace=True)

In [9]:
wetter_abc.head(3)

   a    b    c     d  e  f   g    h
0  6 -0.3 -2.0  1001  0  0  12  250
1  7  0.6 -1.0  1010  0  0  16  263
2  8  1.3  0.0  1010  0  0  22  270

c)

In [10]:
wetter[["Temperatur", "Taupunkt", "Stunde", "Luftdruck", "Regen", "Sonne"]].head(3)

   Temperatur  Taupunkt  Stunde  Luftdruck  Regen  Sonne
0        -0.3      -2.0       6       1001      0      0
1         0.6      -1.0       7       1010      0      0
2         1.3       0.0       8       1010      0      0

## Aufgabe 3.2

a) <br>
Konzept: Neue Spalte erstellen aus Berechnung von zwei Spalten <br>
`wetter["NeueSpalte"] = wetter["Spalte1] +-*/ wetter["Spalte2]`

In [11]:
wetter["Spread"] = wetter["Temperatur"] - wetter["Taupunkt"]
wetter.head(3)

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Windspitze,Windrichtung,Spread
0,6,-0.3,-2.0,1001,0,0,12,250,1.7
1,7,0.6,-1.0,1010,0,0,16,263,1.6
2,8,1.3,0.0,1010,0,0,22,270,1.3

b) <br>
Funktion Spalte löschen: `drop(columns=["Taupunkt"], inplace=True)`

In [12]:
# wetter.drop(columns=["Taupunkt"], inplace=True)
wetter.head(3)

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Windspitze,Windrichtung,Spread
0,6,-0.3,-2.0,1001,0,0,12,250,1.7
1,7,0.6,-1.0,1010,0,0,16,263,1.6
2,8,1.3,0.0,1010,0,0,22,270,1.3

c) <br>
Funktion mehrere Spalten löschen: <br>
`drop(columns=["Temperatur", "Luftdruck", "Regen", "Sonne", "Windspitze", "Windrichtung"], inplace=True)`

In [13]:
# wetter.drop(columns=["Temperatur", "Luftdruck", "Regen", "Sonne", "Windspitze", "Windrichtung"], inplace=True)
wetter.head(3)

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Windspitze,Windrichtung,Spread
0,6,-0.3,-2.0,1001,0,0,12,250,1.7
1,7,0.6,-1.0,1010,0,0,16,263,1.6
2,8,1.3,0.0,1010,0,0,22,270,1.3

e)

In [14]:
wetter["Temperatur"] = (wetter["Temperatur"] * 9/5) + 32
wetter.rename(columns={"Temperatur":"Temperatur (F)"}, inplace=True)

In [15]:
wetter.head(3)

,Stunde,Temperatur (F),Taupunkt,Luftdruck,Regen,Sonne,Windspitze,Windrichtung,Spread
0,6,31.46,-2.0,1001,0,0,12,250,1.7
1,7,33.08,-1.0,1010,0,0,16,263,1.6
2,8,34.34,0.0,1010,0,0,22,270,1.3

f) <br>
Verkettung der Befehle dur `()`. <br> 
Wenn bei der Verkettung auf eine Spaltezugegriffen werden soll bsp. Datentyp ändern<br>
wird `.assign()` verwendet und der Spaltenname wird ausgeschrrieben bsp. <br>
`.assign(`
`Spalte = df["Spalte"].astype('float64)`
`)`

In [16]:
wetter = {
    "Stunde": [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 1, 2, 3, 4, 5],
    "Temperatur": [-0.3, 0.6, 1.3, 1.9, 2.3, 2.4, 3.1, 3.4, 3.5, 3.4, 3.5, 3.6, 4.0, 4.6, 4.8, 4.7, 3.3, 2.8, -0.6, -0.8, -0.7, -0.4, -0.3],
    "Taupunkt": [-2, -1, -0, 0, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 1, -0, -2, -2, -2, -2, -2],
    "Luftdruck": [1001, 1010, 1010, 1010, 1009, 1008, 1007, 1006, 1004, 1003, 1001, 1000, 999, 997, 997, 996, 995, 994, 1012, 1012, 1012, 1011, 1011],
    "Regen": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 2, 3, 4, 4, 5, 0, 0, 0, 0, 0],
    "Sonne": [0, 0, 0, 17, 28, 27, 38, 33, 13, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
    "Wind_max": [12, 16, 22, 22, 33, 35, 35, 60, 44, 48, 56, 53, 50, 52, 54, 53, 95, 68, 13, 11, 9, 10, 12],
    "Windrichtung":[250, 263, 270, 272, 269, 264, 266, 264, 256, 252, 251, 252, 257,258, 266, 274, 282, 287, 261, 248, 244, 270, 277]
}
wetter = pd.DataFrame(data=wetter)
wetter.head(3)

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung
0,6,-0.3,-2,1001,0,0,12,250
1,7,0.6,-1,1010,0,0,16,263
2,8,1.3,0,1010,0,0,22,270

In [17]:
wetter.dtypes

Stunde            int64
Temperatur      float64
Taupunkt          int64
Luftdruck         int64
Regen             int64
Sonne             int64
Wind_max          int64
Windrichtung      int64
dtype: object

In [18]:
(wetter.drop(columns=['Regen', 'Sonne'])
    .rename({'Wind_max':'Max-Wind'})
    .assign(
        Spread = wetter['Temperatur'] - wetter['Taupunkt'],
        Taupunkt = wetter['Taupunkt'].astype('float64')
    ))

    Stunde  Temperatur  Taupunkt  Luftdruck  Wind_max  Windrichtung  Spread
0        6        -0.3      -2.0       1001        12           250     1.7
1        7         0.6      -1.0       1010        16           263     1.6
2        8         1.3       0.0       1010        22           270     1.3
3        9         1.9       0.0       1010        22           272     1.9
4       10         2.3       1.0       1009        33           269     1.3
5       11         2.4       1.0       1008        35           264     1.4
6       12         3.1       1.0       1007        35           266     2.1
7       13         3.4       2.0       1006        60           264     1.4
8       14         3.5       2.0       1004        44           256     1.5
9       15         3.4       2.0       1003        48           252     1.4
10      16         3.5       2.0       1001        56           251     1.5
11      17         3.6       2.0       1000        53           252     1.6
12      18         4.0       3.0        999        50           257     1.0
13      19         4.6       3.0        997        52           258     1.6
14      20         4.8       3.0        997        54           266     1.8
15      21         4.7       3.0        996        53           274     1.7
16      22         3.3       1.0        995        95           282     2.3
17      23         2.8       0.0        994        68           287     2.8
18       1        -0.6      -2.0       1012        13           261     1.4
19       2        -0.8      -2.0       1012        11           248     1.2
20       3        -0.7      -2.0       1012         9           244     1.3
21       4        -0.4      -2.0       1011        10           270     1.6
22       5        -0.3      -2.0       1011        12           277     1.7

## Übungsaufgaben GPT

A1

In [19]:
(wetter.loc[wetter['Temperatur']>2, ['Stunde', 'Temperatur']]
    .sort_values('Temperatur', ascending=False)
)

    Stunde  Temperatur
14      20         4.8
15      21         4.7
13      19         4.6
12      18         4.0
11      17         3.6
8       14         3.5
10      16         3.5
7       13         3.4
9       15         3.4
16      22         3.3
6       12         3.1
17      23         2.8
5       11         2.4
4       10         2.3

A2

In [20]:
wetter.head()

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung
0,6,-0.3,-2,1001,0,0,12,250
1,7,0.6,-1,1010,0,0,16,263
2,8,1.3,0,1010,0,0,22,270
3,9,1.9,0,1010,0,17,22,272
4,10,2.3,1,1009,0,28,33,269

In [21]:
wetter["Stunde"].is_unique

True

In [22]:
pivot_tabelle = wetter.pivot_table(values=['Temperatur', 'Taupunkt'], index='Stunde', aggfunc='mean')
pivot_tabelle

        Taupunkt  Temperatur
Stunde
1           -2.0        -0.6
2           -2.0        -0.8
3           -2.0        -0.7
4           -2.0        -0.4
5           -2.0        -0.3
6           -2.0        -0.3
7           -1.0         0.6
8            0.0         1.3
9            0.0         1.9
10           1.0         2.3
11           1.0         2.4
12           1.0         3.1
13           2.0         3.4
14           2.0         3.5
15           2.0         3.4
16           2.0         3.5
17           2.0         3.6
18           3.0         4.0
19           3.0         4.6
20           3.0         4.8
21           3.0         4.7
22           1.0         3.3
23           0.0         2.8

In [23]:
w_melted = wetter.melt(id_vars='Stunde', value_name='temp_tau_luft', value_vars=['Taupunkt', 'Temperatur', 'Luftdruck'])

In [24]:
w_melted

    Stunde   variable  temp_tau_luft
0        6   Taupunkt           -2.0
1        7   Taupunkt           -1.0
2        8   Taupunkt            0.0
3        9   Taupunkt            0.0
4       10   Taupunkt            1.0
..     ...        ...            ...
64       1  Luftdruck         1012.0
65       2  Luftdruck         1012.0
66       3  Luftdruck         1012.0
67       4  Luftdruck         1011.0
68       5  Luftdruck         1011.0

[69 rows x 3 columns]

A4

In [25]:
wetter['Temperatur'].max()

4.8

In [26]:
wetter['Temperatur'].min()

-0.8

In [27]:
wetter.loc[wetter['Wind_max'].idxmax(), 'Stunde']

22

In [28]:
wetter['Luftdruck'].mean()

1004.5652173913044

5

In [29]:
w_gr_stunde = wetter.groupby(by='Stunde').mean()
w_gr_stunde

        Temperatur  Taupunkt  Luftdruck  Regen  Sonne  Wind_max  Windrichtung
Stunde
1             -0.6      -2.0     1012.0    0.0    0.0      13.0         261.0
2             -0.8      -2.0     1012.0    0.0    0.0      11.0         248.0
3             -0.7      -2.0     1012.0    0.0    0.0       9.0         244.0
4             -0.4      -2.0     1011.0    0.0    0.0      10.0         270.0
5             -0.3      -2.0     1011.0    0.0    0.0      12.0         277.0
6             -0.3      -2.0     1001.0    0.0    0.0      12.0         250.0
7              0.6      -1.0     1010.0    0.0    0.0      16.0         263.0
8              1.3       0.0     1010.0    0.0    0.0      22.0         270.0
9              1.9       0.0     1010.0    0.0   17.0      22.0         272.0
10             2.3       1.0     1009.0    0.0   28.0      33.0         269.0
11             2.4       1.0     1008.0    0.0   27.0      35.0         264.0
12             3.1       1.0     1007.0    0.0   38.0      35.0         266.0
13             3.4       2.0     1006.0    0.0   33.0      60.0         264.0
14             3.5       2.0     1004.0    0.0   13.0      44.0         256.0
15             3.4       2.0     1003.0    0.0    1.0      48.0         252.0
16             3.5       2.0     1001.0    1.0    0.0      56.0         251.0
17             3.6       2.0     1000.0    1.0    0.0      53.0         252.0
18             4.0       3.0      999.0    1.0    0.0      50.0         257.0
19             4.6       3.0      997.0    2.0    0.0      52.0         258.0
20             4.8       3.0      997.0    3.0    0.0      54.0         266.0
21             4.7       3.0      996.0    4.0    0.0      53.0         274.0
22             3.3       1.0      995.0    4.0    1.0      95.0         282.0
23             2.8       0.0      994.0    5.0    0.0      68.0         287.0

In [30]:
w_gr_stunde['Regen'].idxmax()

23

### GPT Aufgaben 2

In [31]:
w = wetter.copy()

6

In [32]:
(w.loc[(w['Luftdruck']>1010) & (w['Regen']==0), ['Stunde', 'Luftdruck', 'Wind_max']]
    .sort_values('Wind_max', ascending=True)
    )

    Stunde  Luftdruck  Wind_max
20       3       1012         9
21       4       1011        10
19       2       1012        11
22       5       1011        12
18       1       1012        13

In [33]:
w.pivot_table(index='Windrichtung', values='Luftdruck', aggfunc='mean')

              Luftdruck
Windrichtung
244              1012.0
248              1012.0
250              1001.0
251              1001.0
252              1001.5
256              1004.0
257               999.0
258               997.0
261              1012.0
263              1010.0
264              1007.0
266              1002.0
269              1009.0
270              1010.5
272              1010.0
274               996.0
277              1011.0
282               995.0
287               994.0

8

In [34]:
w.melt(id_vars=['Stunde','Temperatur'], value_vars=['Regen', 'Sonne'], value_name='reg_son')

    Stunde  Temperatur variable  reg_son
0        6        -0.3    Regen        0
1        7         0.6    Regen        0
2        8         1.3    Regen        0
3        9         1.9    Regen        0
4       10         2.3    Regen        0
5       11         2.4    Regen        0
6       12         3.1    Regen        0
7       13         3.4    Regen        0
8       14         3.5    Regen        0
9       15         3.4    Regen        0
10      16         3.5    Regen        1
11      17         3.6    Regen        1
12      18         4.0    Regen        1
13      19         4.6    Regen        2
14      20         4.8    Regen        3
15      21         4.7    Regen        4
16      22         3.3    Regen        4
17      23         2.8    Regen        5
18       1        -0.6    Regen        0
19       2        -0.8    Regen        0
20       3        -0.7    Regen        0
21       4        -0.4    Regen        0
22       5        -0.3    Regen        0
23       6        -0.3    Sonne        0
24       7         0.6    Sonne        0
25       8         1.3    Sonne        0
26       9         1.9    Sonne       17
27      10         2.3    Sonne       28
28      11         2.4    Sonne       27
29      12         3.1    Sonne       38
30      13         3.4    Sonne       33
31      14         3.5    Sonne       13
32      15         3.4    Sonne        1
33      16         3.5    Sonne        0
34      17         3.6    Sonne        0
35      18         4.0    Sonne        0
36      19         4.6    Sonne        0
37      20         4.8    Sonne        0
38      21         4.7    Sonne        0
39      22         3.3    Sonne        1
40      23         2.8    Sonne        0
41       1        -0.6    Sonne        0
42       2        -0.8    Sonne        0
43       3        -0.7    Sonne        0
44       4        -0.4    Sonne        0
45       5        -0.3    Sonne        0

9

In [35]:
w_g_windr = w.groupby(by='Windrichtung')

In [36]:
w_g_windr.mean()

              Stunde  Temperatur  Taupunkt  Luftdruck  Regen  Sonne  Wind_max
Windrichtung
244              3.0       -0.70      -2.0     1012.0    0.0    0.0       9.0
248              2.0       -0.80      -2.0     1012.0    0.0    0.0      11.0
250              6.0       -0.30      -2.0     1001.0    0.0    0.0      12.0
251             16.0        3.50       2.0     1001.0    1.0    0.0      56.0
252             16.0        3.50       2.0     1001.5    0.5    0.5      50.5
256             14.0        3.50       2.0     1004.0    0.0   13.0      44.0
257             18.0        4.00       3.0      999.0    1.0    0.0      50.0
258             19.0        4.60       3.0      997.0    2.0    0.0      52.0
261              1.0       -0.60      -2.0     1012.0    0.0    0.0      13.0
263              7.0        0.60      -1.0     1010.0    0.0    0.0      16.0
264             12.0        2.90       1.5     1007.0    0.0   30.0      47.5
266             16.0        3.95       2.0     1002.0    1.5   19.0      44.5
269             10.0        2.30       1.0     1009.0    0.0   28.0      33.0
270              6.0        0.45      -1.0     1010.5    0.0    0.0      16.0
272              9.0        1.90       0.0     1010.0    0.0   17.0      22.0
274             21.0        4.70       3.0      996.0    4.0    0.0      53.0
277              5.0       -0.30      -2.0     1011.0    0.0    0.0      12.0
282             22.0        3.30       1.0      995.0    4.0    1.0      95.0
287             23.0        2.80       0.0      994.0    5.0    0.0      68.0

In [37]:
w_g_windr.std()

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max
Windrichtung,,,,,,,
244,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,1.414214,0.141421,0.000000,2.121320,0.707107,0.707107,3.535534
256,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,1.414214,0.707107,0.707107,1.414214,0.000000,4.242641,17.677670
266,5.656854,1.202082,1.414214,7.071068,2.121320,26.870058,13.435029
269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2.828427,1.202082,1.414214,0.707107,0.000000,0.000000,8.485281
272,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
(wetter.rename(columns={"Wind_max": "WindGeschwindigkeit"})
    .drop(columns=["Regen", "Sonne"])
    .assign(
        Taupunkt = wetter["Taupunkt"].astype("float64"),
        Spread = wetter["Temperatur"] - wetter["Taupunkt"]
    ))

,Stunde,Temperatur,Taupunkt,Luftdruck,WindGeschwindigkeit,Windrichtung,Spread
0,6,-0.3,-2.0,1001,12,250,1.7
1,7,0.6,-1.0,1010,16,263,1.6
2,8,1.3,0.0,1010,22,270,1.3
3,9,1.9,0.0,1010,22,272,1.9
4,10,2.3,1.0,1009,33,269,1.3
5,11,2.4,1.0,1008,35,264,1.4
6,12,3.1,1.0,1007,35,266,2.1
7,13,3.4,2.0,1006,60,264,1.4
8,14,3.5,2.0,1004,44,256,1.5
9,15,3.4,2.0,1003,48,252,1.4
10,16,3.5,2.0,1001,56,251,1.5
11,17,3.6,2.0,1000,53,252,1.6
12,18,4.0,3.0,999,50,257,1.0
13,19,4.6,3.0,997,52,258,1.6
14,20,4.8,3.0,997,54,266,1.8
15,21,4.7,3.0,996,53,274,1.7
16,22,3.3,1.0,995,95,282,2.3
17,23,2.8,0.0,994,68,287,2.8
18,1,-0.6,-2.0,1012,13,261,1.4
19,2,-0.8,-2.0,1012,11,248,1.2
20,3,-0.7,-2.0,1012,9,244,1.3
21,4,-0.4,-2.0,1011,10,270,1.6
22,5,-0.3,-2.0,1011,12,277,1.7

In [39]:
w.groupby(by=['Stunde', 'Regen'])[['Temperatur', 'Luftdruck']].agg('mean')

              Temperatur  Luftdruck
Stunde Regen
1      0            -0.6     1012.0
2      0            -0.8     1012.0
3      0            -0.7     1012.0
4      0            -0.4     1011.0
5      0            -0.3     1011.0
6      0            -0.3     1001.0
7      0             0.6     1010.0
8      0             1.3     1010.0
9      0             1.9     1010.0
10     0             2.3     1009.0
11     0             2.4     1008.0
12     0             3.1     1007.0
13     0             3.4     1006.0
14     0             3.5     1004.0
15     0             3.4     1003.0
16     1             3.5     1001.0
17     1             3.6     1000.0
18     1             4.0      999.0
19     2             4.6      997.0
20     3             4.8      997.0
21     4             4.7      996.0
22     4             3.3      995.0
23     5             2.8      994.0

In [40]:
w.groupby(by='Windrichtung').transform(lambda x: x-x.mean())

    Stunde  Temperatur  Taupunkt  Luftdruck  Regen  Sonne  Wind_max
0      0.0        0.00       0.0        0.0    0.0    0.0       0.0
1      0.0        0.00       0.0        0.0    0.0    0.0       0.0
2      2.0        0.85       1.0       -0.5    0.0    0.0       6.0
3      0.0        0.00       0.0        0.0    0.0    0.0       0.0
4      0.0        0.00       0.0        0.0    0.0    0.0       0.0
5     -1.0       -0.50      -0.5        1.0    0.0   -3.0     -12.5
6     -4.0       -0.85      -1.0        5.0   -1.5   19.0      -9.5
7      1.0        0.50       0.5       -1.0    0.0    3.0      12.5
8      0.0        0.00       0.0        0.0    0.0    0.0       0.0
9     -1.0       -0.10       0.0        1.5   -0.5    0.5      -2.5
10     0.0        0.00       0.0        0.0    0.0    0.0       0.0
11     1.0        0.10       0.0       -1.5    0.5   -0.5       2.5
12     0.0        0.00       0.0        0.0    0.0    0.0       0.0
13     0.0        0.00       0.0        0.0    0.0    0.0       0.0
14     4.0        0.85       1.0       -5.0    1.5  -19.0       9.5
15     0.0        0.00       0.0        0.0    0.0    0.0       0.0
16     0.0        0.00       0.0        0.0    0.0    0.0       0.0
17     0.0        0.00       0.0        0.0    0.0    0.0       0.0
18     0.0        0.00       0.0        0.0    0.0    0.0       0.0
19     0.0        0.00       0.0        0.0    0.0    0.0       0.0
20     0.0        0.00       0.0        0.0    0.0    0.0       0.0
21    -2.0       -0.85      -1.0        0.5    0.0    0.0      -6.0
22     0.0        0.00       0.0        0.0    0.0    0.0       0.0

In [43]:
tem_abs = abs(w['Temperatur'])

In [52]:
w['Quantile_Temp'], grenzen =pd.qcut(w['Temperatur'], q=4, retbins=True)

In [55]:
w['Quantile_Temp'].unique()

[(-0.801, 0.15], (0.15, 2.8], (2.8, 3.5], (3.5, 4.8]]
Categories (4, interval[float64, right]): [(-0.801, 0.15] < (0.15, 2.8] < (2.8, 3.5] < (3.5, 4.8]]

In [53]:
grenzen

array([-0.8 ,  0.15,  2.8 ,  3.5 ,  4.8 ])

In [60]:
def quantile_str(row):
    row = str(row)
    if row == '(-0.801, 0.15]': return 1
    if row == '(0.15, 2.8]': return 2
    if row == '(2.8, 3.5]': return 3
    if row == '(3.5, 4.8]': return 4
    if row == pd.NA: return pd.NA

In [61]:
w['Temp-Q-Str'] = w['Quantile_Temp'].apply(quantile_str)

In [62]:
w.head()

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung,Quantile_Temp,Temp-Q-Str
0,6,-0.3,-2,1001,0,0,12,250,"(-0.801, 0.15]",1
1,7,0.6,-1,1010,0,0,16,263,"(0.15, 2.8]",2
2,8,1.3,0,1010,0,0,22,270,"(0.15, 2.8]",2
3,9,1.9,0,1010,0,17,22,272,"(0.15, 2.8]",2
4,10,2.3,1,1009,0,28,33,269,"(0.15, 2.8]",2

In [64]:
w.loc[w['Temp-Q-Str']>3, ['Stunde', 'Temp-Q-Str']]

    Stunde Temp-Q-Str
11      17          4
12      18          4
13      19          4
14      20          4
15      21          4

In [67]:
%xmode verbose

Exception reporting mode: Verbose

In [73]:
w['Luft-Quantil'], grenzen = pd.qcut(w['Luftdruck'], q=4, retbins=True)

In [72]:
w.head()

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung,Quantile_Temp,Temp-Q-Str,Luft-Quantil
0,6,-0.3,-2,1001,0,0,12,250,"(-0.801, 0.15]",1,"(999.5, 1006.0]"
1,7,0.6,-1,1010,0,0,16,263,"(0.15, 2.8]",2,"(1006.0, 1010.0]"
2,8,1.3,0,1010,0,0,22,270,"(0.15, 2.8]",2,"(1006.0, 1010.0]"
3,9,1.9,0,1010,0,17,22,272,"(0.15, 2.8]",2,"(1006.0, 1010.0]"
4,10,2.3,1,1009,0,28,33,269,"(0.15, 2.8]",2,"(1006.0, 1010.0]"

In [85]:
w['Luft-Quantil'].unique()

[(999.5, 1006.0], (1006.0, 1010.0], (993.999, 999.5], (1010.0, 1012.0]]
Categories (4, interval[float64, right]): [(993.999, 999.5] < (999.5, 1006.0] < (1006.0, 1010.0] < (1010.0, 1012.0]]

In [86]:
def quantile_str(row):
    #row = str(row)
    if row == w['Luft-Quantil'].unique()[0]: return 1
    if row == w['Luft-Quantil'].unique()[1]: return 2
    if row == w['Luft-Quantil'].unique()[2]: return 3
    if row == w['Luft-Quantil'].unique()[3]: return 4
    if row == pd.NA: return pd.NA

In [87]:
w.head()

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung,Quantile_Temp,Temp-Q-Str,Luft-Quantil
0,6,-0.3,-2,1001,0,0,12,250,"(-0.801, 0.15]",1,"(999.5, 1006.0]"
1,7,0.6,-1,1010,0,0,16,263,"(0.15, 2.8]",2,"(1006.0, 1010.0]"
2,8,1.3,0,1010,0,0,22,270,"(0.15, 2.8]",2,"(1006.0, 1010.0]"
3,9,1.9,0,1010,0,17,22,272,"(0.15, 2.8]",2,"(1006.0, 1010.0]"
4,10,2.3,1,1009,0,28,33,269,"(0.15, 2.8]",2,"(1006.0, 1010.0]"

In [88]:
w['Luftdruck-q'] = w['Luft-Quantil'].apply(quantile_str)

In [89]:
w.head()

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung,Quantile_Temp,Temp-Q-Str,Luft-Quantil,Luftdruck-q
0,6,-0.3,-2,1001,0,0,12,250,"(-0.801, 0.15]",1,"(999.5, 1006.0]",1
1,7,0.6,-1,1010,0,0,16,263,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2
2,8,1.3,0,1010,0,0,22,270,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2
3,9,1.9,0,1010,0,17,22,272,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2
4,10,2.3,1,1009,0,28,33,269,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2

In [91]:
w.loc[(w['Temp-Q-Str']>2) &( w['Luftdruck-q']<3), ['Stunde', 'Temperatur', 'Luftdruck', 'Wind_max']]

Empty DataFrame
Columns: [Stunde, Temperatur, Luftdruck, Wind_max]
Index: []

### GPT Aufgaben Anspruchsvoller

In [106]:
w.head()

,Stunde,level_0,index,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung,Quantile_Temp,Temp-Q-Str,Luft-Quantil,Luftdruck-q
0,6,0,0,-0.3,-2,1001,0,0,12,250,"(-0.801, 0.15]",1,"(999.5, 1006.0]",1
1,7,1,1,0.6,-1,1010,0,0,16,263,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2
2,8,2,2,1.3,0,1010,0,0,22,270,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2
3,9,3,3,1.9,0,1010,0,17,22,272,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2
4,10,4,4,2.3,1,1009,0,28,33,269,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2

In [119]:
w["drittel-Temp"], grenzen = pd.qcut(w['Temperatur'], q=3, labels=['niedrig', 'mittel', 'hoch'], retbins=True)

In [120]:
w.sample(5)

,Stunde,level_0,index,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung,Quantile_Temp,Temp-Q-Str,Luft-Quantil,Luftdruck-q,drittel-Temp
9,15,9,9,3.4,2,1003,0,1,48,252,"(2.8, 3.5]",3,"(999.5, 1006.0]",1,mittel
14,20,14,14,4.8,3,997,3,0,54,266,"(3.5, 4.8]",4,"(993.999, 999.5]",3,hoch
8,14,8,8,3.5,2,1004,0,13,44,256,"(2.8, 3.5]",3,"(999.5, 1006.0]",1,hoch
13,19,13,13,4.6,3,997,2,0,52,258,"(3.5, 4.8]",4,"(993.999, 999.5]",3,hoch
1,7,1,1,0.6,-1,1010,0,0,16,263,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2,niedrig

In [116]:
w['Temperatur'].unique()

array([-0.3,  0.6,  1.3,  1.9,  2.3,  2.4,  3.1,  3.4,  3.5,  3.6,  4. ,
        4.6,  4.8,  4.7,  3.3,  2.8, -0.6, -0.8, -0.7, -0.4])

In [117]:
q1_temp = w['Temperatur'].quantile(0.25)
q4_wind = w['Wind_max'].quantile(0.75)

(q1_temp, q4_wind)

(0.15000000000000002, 53.0)

In [118]:
w.loc[(w['Temperatur']< q1_temp) & (w['Wind_max']> q4_wind), 'Stunde']

Series([], Name: Stunde, dtype: int64)

In [124]:
meldung = pd.DataFrame(
{    "meldung": ["Starker Regen", "Hochwasser", "Glatteis"],
    "Stunden": [3,6,8]}
)

In [125]:
meldung

         meldung  Stunden
0  Starker Regen        3
1     Hochwasser        6
2       Glatteis        8

In [126]:
q4_temp = w['Temperatur'].quantile(0.75)

In [131]:
w.head()

,Stunde,level_0,index,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung,Quantile_Temp,Temp-Q-Str,Luft-Quantil,Luftdruck-q,drittel-Temp
0,6,0,0,-0.3,-2,1001,0,0,12,250,"(-0.801, 0.15]",1,"(999.5, 1006.0]",1,niedrig
1,7,1,1,0.6,-1,1010,0,0,16,263,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2,niedrig
2,8,2,2,1.3,0,1010,0,0,22,270,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2,niedrig
3,9,3,3,1.9,0,1010,0,17,22,272,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2,mittel
4,10,4,4,2.3,1,1009,0,28,33,269,"(0.15, 2.8]",2,"(1006.0, 1010.0]",2,mittel

In [133]:
# Gruppieren des DataFrames nach 'Windrichtung'
gruppierung = wetter.groupby('Windrichtung')

# Zugriff auf die Daten einer bestimmten Gruppe, z.B. Windrichtung 270
spezifische_gruppe = gruppierung.get_group(270)

spezifische_gruppe

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung
2,8,1.3,0,1010,0,0,22,270
21,4,-0.4,-2,1011,0,0,10,270

In [ ]:
w['Gefühlte Temperatur'] =