# Wiederholung Kap 1. Aufgabe 4

In [44]:
import pandas as pd
%xmode minimal
pd.set_option("mode.copy_on_write", True)

Exception reporting mode: Minimal

In [45]:
wetter = {
    "Stunde": [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 1, 2, 3, 4, 5],
    "Temperatur": [-0.3, 0.6, 1.3, 1.9, 2.3, 2.4, 3.1, 3.4, 3.5, 3.4, 3.5, 3.6, 4.0, 4.6, 4.8, 4.7, 3.3, 2.8, -0.6, -0.8, -0.7, -0.4, -0.3],
    "Taupunkt": [-2, -1, -0, 0, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 1, -0, -2, -2, -2, -2, -2],
    "Luftdruck": [1001, 1010, 1010, 1010, 1009, 1008, 1007, 1006, 1004, 1003, 1001, 1000, 999, 997, 997, 996, 995, 994, 1012, 1012, 1012, 1011, 1011],
    "Regen": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 2, 3, 4, 4, 5, 0, 0, 0, 0, 0],
    "Sonne": [0, 0, 0, 17, 28, 27, 38, 33, 13, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
    "Wind_max": [12, 16, 22, 22, 33, 35, 35, 60, 44, 48, 56, 53, 50, 52, 54, 53, 95, 68, 13, 11, 9, 10, 12],
    "Windrichtung":[250, 263, 270, 272, 269, 264, 266, 264, 256, 252, 251, 252, 257,258, 266, 274, 282, 287, 261, 248, 244, 270, 277]
}
wetter = pd.DataFrame(data=wetter)
wetter.head(3)

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung
0,6,-0.3,-2,1001,0,0,12,250
1,7,0.6,-1,1010,0,0,16,263
2,8,1.3,0,1010,0,0,22,270

4.1

In [46]:
wetter.loc[wetter["Temperatur"] < 0]

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung
0,6,-0.3,-2,1001,0,0,12,250
18,1,-0.6,-2,1012,0,0,13,261
19,2,-0.8,-2,1012,0,0,11,248
20,3,-0.7,-2,1012,0,0,9,244
21,4,-0.4,-2,1011,0,0,10,270
22,5,-0.3,-2,1011,0,0,12,277

4.2 <br>
Index setzten `.set_index("Spalte")` <br>
Index sortieren `sort_index()`

In [47]:
wetter = wetter.set_index("Stunde")

In [48]:
wetter.sort_index()

        Temperatur  Taupunkt  Luftdruck  Regen  Sonne  Wind_max  Windrichtung
Stunde
1             -0.6        -2       1012      0      0        13           261
2             -0.8        -2       1012      0      0        11           248
3             -0.7        -2       1012      0      0         9           244
4             -0.4        -2       1011      0      0        10           270
5             -0.3        -2       1011      0      0        12           277
6             -0.3        -2       1001      0      0        12           250
7              0.6        -1       1010      0      0        16           263
8              1.3         0       1010      0      0        22           270
9              1.9         0       1010      0     17        22           272
10             2.3         1       1009      0     28        33           269
11             2.4         1       1008      0     27        35           264
12             3.1         1       1007      0     38        35           266
13             3.4         2       1006      0     33        60           264
14             3.5         2       1004      0     13        44           256
15             3.4         2       1003      0      1        48           252
16             3.5         2       1001      1      0        56           251
17             3.6         2       1000      1      0        53           252
18             4.0         3        999      1      0        50           257
19             4.6         3        997      2      0        52           258
20             4.8         3        997      3      0        54           266
21             4.7         3        996      4      0        53           274
22             3.3         1        995      4      1        95           282
23             2.8         0        994      5      0        68           287

4.3 <br>
Selektion mit mehreren Bedingungen <br>
`df.loc[(df["Spalte]==3) | (df["Spalte]==0)]`

In [49]:
wetter = wetter.reset_index()

In [50]:
wetter.loc[(wetter["Stunde"] == 5) | (wetter["Stunde"] == 1) | (wetter["Stunde"] == 3) ]

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung
18,1,-0.6,-2,1012,0,0,13,261
20,3,-0.7,-2,1012,0,0,9,244
22,5,-0.3,-2,1011,0,0,12,277

4.4 <br>
Tabelle Sortieren nach einer Spalte `sort_values("Spalte")`

In [51]:
wetter.loc[(wetter["Stunde"] < 7) & (wetter["Stunde"]>2)].sort_values("Stunde")

,Stunde,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung
20,3,-0.7,-2,1012,0,0,9,244
21,4,-0.4,-2,1011,0,0,10,270
22,5,-0.3,-2,1011,0,0,12,277
0,6,-0.3,-2,1001,0,0,12,250

4.5 <br>
Zeilen nach Index auswählen `df.loc[start:ende]` <br>
Zeilen nach Index mit Bedingung auswählen `df.loc[(df.index > 42)& (df["Spalte] == 0)]`

In [52]:
wetter = wetter.set_index("Stunde")

In [53]:
wetter = wetter.sort_index()

In [54]:
wetter.loc[0:20]

        Temperatur  Taupunkt  Luftdruck  Regen  Sonne  Wind_max  Windrichtung
Stunde
1             -0.6        -2       1012      0      0        13           261
2             -0.8        -2       1012      0      0        11           248
3             -0.7        -2       1012      0      0         9           244
4             -0.4        -2       1011      0      0        10           270
5             -0.3        -2       1011      0      0        12           277
6             -0.3        -2       1001      0      0        12           250
7              0.6        -1       1010      0      0        16           263
8              1.3         0       1010      0      0        22           270
9              1.9         0       1010      0     17        22           272
10             2.3         1       1009      0     28        33           269
11             2.4         1       1008      0     27        35           264
12             3.1         1       1007      0     38        35           266
13             3.4         2       1006      0     33        60           264
14             3.5         2       1004      0     13        44           256
15             3.4         2       1003      0      1        48           252
16             3.5         2       1001      1      0        56           251
17             3.6         2       1000      1      0        53           252
18             4.0         3        999      1      0        50           257
19             4.6         3        997      2      0        52           258
20             4.8         3        997      3      0        54           266

In [55]:
wetter.loc[(wetter.index <= 20)&(wetter.index >= 0)&(wetter["Regen"] > 0)]

        Temperatur  Taupunkt  Luftdruck  Regen  Sonne  Wind_max  Windrichtung
Stunde
16             3.5         2       1001      1      0        56           251
17             3.6         2       1000      1      0        53           252
18             4.0         3        999      1      0        50           257
19             4.6         3        997      2      0        52           258
20             4.8         3        997      3      0        54           266

4.6

In [56]:
wetter.loc[(wetter["Wind_max"] > 70) | (wetter["Taupunkt"] > 2), ["Luftdruck","Temperatur"]]

        Luftdruck  Temperatur
Stunde
18            999         4.0
19            997         4.6
20            997         4.8
21            996         4.7
22            995         3.3

4.7 <br>
Wert in Spalte einfügen nach einer Bedingung: <br>
`wetter.loc[(wetter["Regen"]>0) & (wetter["Sonne"] > 0), "Text"] = "April"` <br>
Werte in Spalte einfügen nach Bedingung und überprüfung auf NA Werte: <br>
`wetter.loc[(wetter["Sonne"] >0) & (wetter["Text"].isna()), "Text"] = "Sonne"`

In [57]:
wetter["Text"] = pd.NA

wetter.loc[(wetter["Regen"]>0) & (wetter["Sonne"] > 0), "Text"] = "April"
wetter.loc[(wetter["Sonne"] >0) & (wetter["Text"].isna()), "Text"] = "Sonne"
wetter.loc[(wetter["Regen"]> 0) & (wetter["Text"].isna()), "Text"] = "Regen"

In [58]:
wetter

,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung,Text
Stunde,,,,,,,,
1,-0.6,-2,1012,0,0,13,261,<NA>
2,-0.8,-2,1012,0,0,11,248,<NA>
3,-0.7,-2,1012,0,0,9,244,<NA>
4,-0.4,-2,1011,0,0,10,270,<NA>
5,-0.3,-2,1011,0,0,12,277,<NA>
6,-0.3,-2,1001,0,0,12,250,<NA>
7,0.6,-1,1010,0,0,16,263,<NA>
8,1.3,0,1010,0,0,22,270,<NA>
9,1.9,0,1010,0,17,22,272,Sonne
10,2.3,1,1009,0,28,33,269,Sonne
11,2.4,1,1008,0,27,35,264,Sonne
12,3.1,1,1007,0,38,35,266,Sonne
13,3.4,2,1006,0,33,60,264,Sonne
14,3.5,2,1004,0,13,44,256,Sonne
15,3.4,2,1003,0,1,48,252,Sonne
16,3.5,2,1001,1,0,56,251,Regen
17,3.6,2,1000,1,0,53,252,Regen
18,4.0,3,999,1,0,50,257,Regen
19,4.6,3,997,2,0,52,258,Regen
20,4.8,3,997,3,0,54,266,Regen
21,4.7,3,996,4,0,53,274,Regen
22,3.3,1,995,4,1,95,282,April
23,2.8,0,994,5,0,68,287,Regen

4.8

In [59]:
wetter.loc[(wetter["Text"]=="Regen") | (wetter["Text"]=="April")]

,Temperatur,Taupunkt,Luftdruck,Regen,Sonne,Wind_max,Windrichtung,Text
Stunde,,,,,,,,
16,3.5,2,1001,1,0,56,251,Regen
17,3.6,2,1000,1,0,53,252,Regen
18,4.0,3,999,1,0,50,257,Regen
19,4.6,3,997,2,0,52,258,Regen
20,4.8,3,997,3,0,54,266,Regen
21,4.7,3,996,4,0,53,274,Regen
22,3.3,1,995,4,1,95,282,April
23,2.8,0,994,5,0,68,287,Regen